In [87]:
# Import necessary libraries
import requests
import dash
from dash import html, dcc
from dash.dependencies import Input, Output
import dash_table
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# Connect to your SQL database
engine = create_engine("sqlite:///f1_9472.db")

driver_config = {'VER': 1,
  'SAR': 2,
  'RIC': 3,
  'NOR': 4,
  'GAS': 10,
  'PER': 11,
  'ALO': 14,
  'LEC': 16,
  'STR': 18,
  'MAG': 20,
  'TSU': 22,
  'ALB': 23,
  'ZHO': 24,
  'HUL': 27,
  'OCO': 31,
  'BEA': 38,
  'HAM': 44,
  'RUS': 63,
  'BOT': 77,
  'PIA': 81}

In [9]:
start_time = '2024-03-02T15:20:00.000000'
end_time = '2024-03-02T15:25:00.000000'

In [10]:
def get_data(url):
    return pd.DataFrame(requests.get(url).json())

### merging

In [20]:
url1 = f'''https://api.openf1.org/v1/car_data?session_key=9472&driver_number=1&date>={start_time}&date<{end_time}'''
df1 = get_data(url1)
# df1.date = pd.to_datetime(df1.date, format = 'ISO8601')

url2 = f'''https://api.openf1.org/v1/location?session_key=9472&driver_number=1&date>={start_time}&date<{end_time}'''
df2 = get_data(url2)
# df2.date = pd.to_datetime(df2.date, format = 'ISO8601')

In [21]:
df1

,meeting_key,session_key,driver_number,date,rpm,speed,n_gear,throttle,drs,brake
0,1229,9472,1,2024-03-02T15:20:00.312000,8659,181,8,0,0,100
1,1229,9472,1,2024-03-02T15:20:00.712000,8971,146,7,0,0,100
2,1229,9472,1,2024-03-02T15:20:00.992000,9242,124,4,0,0,100
3,1229,9472,1,2024-03-02T15:20:01.151000,9102,118,3,0,0,100
4,1229,9472,1,2024-03-02T15:20:01.351000,7702,108,3,0,0,100
...,...,...,...,...,...,...,...,...,...,...
1120,1229,9472,1,2024-03-02T15:24:58.673000,11253,181,4,100,0,0
1121,1229,9472,1,2024-03-02T15:24:58.953000,11751,189,4,100,0,0
1122,1229,9472,1,2024-03-02T15:24:59.233000,10558,197,5,100,0,0
1123,1229,9472,1,2024-03-02T15:24:59.513000,10774,205,5,100,0,0
1124,1229,9472,1,2024-03-02T15:24:59.833000,11209,213,5,100,0,0

In [22]:
df2

,meeting_key,session_key,driver_number,date,x,y,z
0,1229,9472,1,2024-03-02T15:20:00.138000,-144,7654,-133
1,1229,9472,1,2024-03-02T15:20:00.258000,-141,7718,-132
2,1229,9472,1,2024-03-02T15:20:00.478000,-137,7805,-132
3,1229,9472,1,2024-03-02T15:20:00.658000,-133,7864,-131
4,1229,9472,1,2024-03-02T15:20:00.918000,-125,7965,-130
...,...,...,...,...,...,...,...
1150,1229,9472,1,2024-03-02T15:24:58.739000,1481,7953,-130
1151,1229,9472,1,2024-03-02T15:24:59.059000,1593,7988,-126
1152,1229,9472,1,2024-03-02T15:24:59.359000,1785,8047,-119
1153,1229,9472,1,2024-03-02T15:24:59.659000,1908,8065,-115
1154,1229,9472,1,2024-03-02T15:24:59.919000,2063,8071,-110

In [62]:
merged_data = pd.merge(df1, df2, how = 'outer', on = ['date', 'meeting_key', 'session_key', 'driver_number']).sort_values(by = 'date')

merged_data[['n_gear', 'drs']] = merged_data[['n_gear', 'drs']].ffill().ffill().bfill()
merged_data[['rpm', 'speed', 'throttle', 'brake', 'x', 'y', 'z']] = merged_data[['rpm', 'speed', 'throttle', 'brake', 'x', 'y', 'z']].interpolate('linear', limit_direction = 'both')

In [52]:
merged_data

,meeting_key,session_key,driver_number,date,rpm,speed,n_gear,throttle,drs,brake,x,y,z
0,1229,9472,1,2024-03-02T15:20:00.138000,8659.0,181.000000,8.0,0.0,0.0,100.0,-144.0,7654.0,-133.0
1,1229,9472,1,2024-03-02T15:20:00.258000,8659.0,181.000000,8.0,0.0,0.0,100.0,-141.0,7718.0,-132.0
2,1229,9472,1,2024-03-02T15:20:00.312000,8659.0,181.000000,8.0,0.0,0.0,100.0,-139.0,7761.5,-132.0
3,1229,9472,1,2024-03-02T15:20:00.478000,8763.0,169.333333,8.0,0.0,0.0,100.0,-137.0,7805.0,-132.0
4,1229,9472,1,2024-03-02T15:20:00.658000,8867.0,157.666667,8.0,0.0,0.0,100.0,-133.0,7864.0,-131.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275,1229,9472,1,2024-03-02T15:24:59.359000,10666.0,201.000000,5.0,100.0,0.0,0.0,1785.0,8047.0,-119.0
2276,1229,9472,1,2024-03-02T15:24:59.513000,10774.0,205.000000,5.0,100.0,0.0,0.0,1846.5,8056.0,-117.0
2277,1229,9472,1,2024-03-02T15:24:59.659000,10991.5,209.000000,5.0,100.0,0.0,0.0,1908.0,8065.0,-115.0
2278,1229,9472,1,2024-03-02T15:24:59.833000,11209.0,213.000000,5.0,100.0,0.0,0.0,1985.5,8068.0,-112.5
2279,1229,9472,1,2024-03-02T15:24:59.919000,11209.0,213.000000,5.0,100.0,0.0,0.0,2063.0,8071.0,-110.0

In [81]:
url = f'''https://api.openf1.org/v1/car_data?session_key=9472'''
df = get_data(url)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [ ]:
car_data = pd.DataFrame()
for dri in driver_numbers:
    print(dri)
    url = f'''https://api.openf1.org/v1/car_data?driver_number={dri}&session_key=9472'''
    df = get_data(url)
    car_data = pd.concat([car_data, df])

In [85]:
start_time = '2024-03-02T15:00:00.000000'
end_time = '2024-03-02T16:45:00.000000'

In [86]:
url = f'''https://api.openf1.org/v1/car_data?session_key=9472&date>={start_time}&date<{end_time}'''
df = get_data(url)
df

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [91]:
url = f'''https://api.openf1.org/v1/drivers?session_key=9472'''
df = get_data(url)
driver_numbers = df.driver_number.tolist()

In [100]:
merged_data = pd.DataFrame()

for dri in driver_numbers:
    print(dri)
    url = f'''https://api.openf1.org/v1/car_data?driver_number={dri}&session_key=9472'''
    car_data = get_data(url)
    # car_data = pd.concat([car_data, df])

    url = f'''https://api.openf1.org/v1/location?driver_number={dri}&session_key=9472'''
    location_data = get_data(url)
    # location_data = pd.concat([location_data, df])

    merged = pd.merge(car_data, location_data, how = 'outer', on = ['date', 'meeting_key', 'session_key', 'driver_number']).sort_values(by = 'date')

    merged[['n_gear', 'drs']] = merged[['n_gear', 'drs']].ffill().ffill().bfill()
    merged[['rpm', 'speed', 'throttle', 'brake', 'x', 'y', 'z']] = merged[['rpm', 'speed', 'throttle', 'brake', 'x', 'y', 'z']].interpolate('linear', limit_direction = 'both')

    merged_data = pd.concat([merged_data, merged])

1
2
3
4
10
11
14
16
18
20
22
23
24
27
31
44
55
63
77
81

In [101]:
merged_data

,meeting_key,session_key,driver_number,date,rpm,speed,n_gear,throttle,drs,brake,x,y,z
0,1229,9472,1,2024-03-01T17:03:36.050000,0.0,0.0,0.0,104.0,8.0,104.0,-221.0,1414.0,-159.0
1,1229,9472,1,2024-03-01T17:03:36.096000,0.0,0.0,0.0,104.0,8.0,104.0,-221.0,1414.0,-159.0
2,1229,9472,1,2024-03-01T17:03:36.370000,0.0,0.0,0.0,104.0,8.0,104.0,-221.0,1414.0,-159.0
3,1229,9472,1,2024-03-01T17:03:36.495000,0.0,0.0,0.0,104.0,8.0,104.0,-221.0,1414.0,-159.0
4,1229,9472,1,2024-03-01T17:03:36.650000,0.0,0.0,0.0,104.0,8.0,104.0,-221.0,1414.0,-159.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70544,1229,9472,81,2024-03-02T16:39:15.698000,0.0,0.0,0.0,104.0,0.0,104.0,-228.0,1259.0,-159.0
70545,1229,9472,81,2024-03-02T16:39:15.858000,0.0,0.0,0.0,104.0,0.0,104.0,-228.0,1259.0,-159.0
70546,1229,9472,81,2024-03-02T16:39:15.978000,0.0,0.0,0.0,104.0,0.0,104.0,-228.0,1259.0,-159.0
70547,1229,9472,81,2024-03-02T16:39:16.178000,0.0,0.0,0.0,104.0,0.0,104.0,-228.0,1259.0,-159.0
70548,1229,9472,81,2024-03-02T16:39:16.378000,0.0,0.0,0.0,104.0,0.0,104.0,-228.0,1259.0,-159.0

In [106]:
merged_data.date = pd.to_datetime(merged_data.date, format = 'ISO8601')

In [107]:
merged_data.to_sql('merged_data', engine, if_exists = 'replace', index = False)

1411109

In [104]:
merged_data[merged_data.driver_number == 1]

,meeting_key,session_key,driver_number,date,rpm,speed,n_gear,throttle,drs,brake,x,y,z
0,1229,9472,1,2024-03-01T17:03:36.050000,0.0,0.0,0.0,104.0,8.0,104.0,-221.0,1414.0,-159.0
1,1229,9472,1,2024-03-01T17:03:36.096000,0.0,0.0,0.0,104.0,8.0,104.0,-221.0,1414.0,-159.0
2,1229,9472,1,2024-03-01T17:03:36.370000,0.0,0.0,0.0,104.0,8.0,104.0,-221.0,1414.0,-159.0
3,1229,9472,1,2024-03-01T17:03:36.495000,0.0,0.0,0.0,104.0,8.0,104.0,-221.0,1414.0,-159.0
4,1229,9472,1,2024-03-01T17:03:36.650000,0.0,0.0,0.0,104.0,8.0,104.0,-221.0,1414.0,-159.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70562,1229,9472,1,2024-03-02T16:39:15.698000,0.0,0.0,0.0,0.0,0.0,0.0,-219.0,1465.0,-159.0
70563,1229,9472,1,2024-03-02T16:39:15.858000,0.0,0.0,0.0,0.0,0.0,0.0,-219.0,1465.0,-159.0
70564,1229,9472,1,2024-03-02T16:39:15.978000,0.0,0.0,0.0,0.0,0.0,0.0,-219.0,1465.0,-159.0
70565,1229,9472,1,2024-03-02T16:39:16.178000,0.0,0.0,0.0,0.0,0.0,0.0,-219.0,1465.0,-159.0
70566,1229,9472,1,2024-03-02T16:39:16.378000,0.0,0.0,0.0,0.0,0.0,0.0,-219.0,1465.0,-159.0

,meeting_key,session_key,driver_number,date,rpm,speed,n_gear,throttle,drs,brake,x,y,z
0,1229,9472,1,2024-03-01T17:03:36.050000,0.0,0.0,0.0,104.0,8.0,104.0,NaN,NaN,NaN
19,1229,9472,81,2024-03-01T17:03:36.050000,0.0,0.0,0.0,104.0,8.0,104.0,NaN,NaN,NaN
18,1229,9472,77,2024-03-01T17:03:36.050000,0.0,0.0,0.0,104.0,8.0,104.0,NaN,NaN,NaN
17,1229,9472,63,2024-03-01T17:03:36.050000,0.0,0.0,0.0,104.0,8.0,104.0,NaN,NaN,NaN
16,1229,9472,55,2024-03-01T17:03:36.050000,0.0,0.0,0.0,0.0,8.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1411090,1229,9472,2,2024-03-02T16:39:16.378000,NaN,NaN,NaN,NaN,NaN,NaN,-398.0,924.0,-159.0
1411089,1229,9472,1,2024-03-02T16:39:16.378000,NaN,NaN,NaN,NaN,NaN,NaN,-219.0,1465.0,-159.0
1411107,1229,9472,77,2024-03-02T16:39:16.378000,NaN,NaN,NaN,NaN,NaN,NaN,-419.0,510.0,-159.0
1411097,1229,9472,18,2024-03-02T16:39:16.378000,NaN,NaN,NaN,NaN,NaN,NaN,-439.0,124.0,-159.0
1411108,1229,9472,81,2024-03-02T16:39:16.378000,NaN,NaN,NaN,NaN,NaN,NaN,-228.0,1259.0,-159.0

In [105]:
pd.read_sql('select * from merged_data where driver_number = 1', engine)

,meeting_key,session_key,driver_number,date,rpm,speed,n_gear,throttle,drs,brake,x,y,z
0,1229,9472,1,2024-03-01T17:03:36.050000,0.0,0.0,0.0,104.0,8.0,104.0,-221.0,1414.0,-159.0
1,1229,9472,1,2024-03-01T17:03:36.096000,0.0,0.0,0.0,104.0,8.0,104.0,-221.0,1414.0,-159.0
2,1229,9472,1,2024-03-01T17:03:36.370000,0.0,0.0,0.0,104.0,8.0,104.0,-221.0,1414.0,-159.0
3,1229,9472,1,2024-03-01T17:03:36.495000,0.0,0.0,0.0,104.0,8.0,104.0,-221.0,1414.0,-159.0
4,1229,9472,1,2024-03-01T17:03:36.650000,0.0,0.0,0.0,104.0,8.0,104.0,-221.0,1414.0,-159.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70562,1229,9472,1,2024-03-02T16:39:15.698000,0.0,0.0,0.0,0.0,0.0,0.0,-219.0,1465.0,-159.0
70563,1229,9472,1,2024-03-02T16:39:15.858000,0.0,0.0,0.0,0.0,0.0,0.0,-219.0,1465.0,-159.0
70564,1229,9472,1,2024-03-02T16:39:15.978000,0.0,0.0,0.0,0.0,0.0,0.0,-219.0,1465.0,-159.0
70565,1229,9472,1,2024-03-02T16:39:16.178000,0.0,0.0,0.0,0.0,0.0,0.0,-219.0,1465.0,-159.0
70566,1229,9472,1,2024-03-02T16:39:16.378000,0.0,0.0,0.0,0.0,0.0,0.0,-219.0,1465.0,-159.0

### adding distance

In [63]:
df1

,meeting_key,session_key,driver_number,date,rpm,speed,n_gear,throttle,drs,brake
0,1229,9472,1,2024-03-02T15:20:00.312000,8659,181,8,0,0,100
1,1229,9472,1,2024-03-02T15:20:00.712000,8971,146,7,0,0,100
2,1229,9472,1,2024-03-02T15:20:00.992000,9242,124,4,0,0,100
3,1229,9472,1,2024-03-02T15:20:01.151000,9102,118,3,0,0,100
4,1229,9472,1,2024-03-02T15:20:01.351000,7702,108,3,0,0,100
...,...,...,...,...,...,...,...,...,...,...
1120,1229,9472,1,2024-03-02T15:24:58.673000,11253,181,4,100,0,0
1121,1229,9472,1,2024-03-02T15:24:58.953000,11751,189,4,100,0,0
1122,1229,9472,1,2024-03-02T15:24:59.233000,10558,197,5,100,0,0
1123,1229,9472,1,2024-03-02T15:24:59.513000,10774,205,5,100,0,0
1124,1229,9472,1,2024-03-02T15:24:59.833000,11209,213,5,100,0,0

In [67]:
df1['date'] = pd.to_datetime(df1['date'])

In [74]:
df1.date.dt.total_seconds()

AttributeError: 'DatetimeProperties' object has no attribute 'total_seconds'

In [76]:
from datetime import datetime

In [77]:
dt = (df1['date'] - datetime.now()).dt.total_seconds().diff()
dt.iloc[0] = df1['date'].iloc[0].total_seconds()
ds = self['speed'] / 3.6 * dt

In [78]:
dt

0         NaN
1       0.400
2       0.280
3       0.159
4       0.200
        ...
1120    0.241
1121    0.280
1122    0.280
1123    0.280
1124    0.320
Name: date, Length: 1125, dtype: float64

KeyError: 'Time'